.problem-page-cont {
    display: flex;
}

.problem-page-cont .side-bar-cont {
    width: 23%;
}

.problem-page-cont .space {
    height: 3vh;
}

@media screen and (max-width: 800px) {
    .problem-page-cont .side-bar-cont {
        display: none;
    }
}