.settings-cont {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.settings-cont .inner-cont {
    width: 95%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.settings-cont .inner-cont p, input {
    margin-top: 0px;
    margin-bottom: 10px;
}

.settings-cont .inner-cont p {
    width: 100%;
    font-size: 1rem;
    font-weight: 100;
}

.settings-cont h3 {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    padding: 5px;
    margin-right: auto;
    margin-bottom: 10px;
}