.main-cont {
    margin-left: 7vw;
    margin-right: 7vw;
}

@media screen and (max-width: 800px) {
    .main-cont {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
    .main-cont {
        margin-left: 3vw;
        margin-right: 3vw;
    }
}